<header class="bg-black text-white fixed top-0 left-0 right-0 z-50 shadow-md">
    <!-- Mobile Header -->
    <div class="md:hidden max-w-7xl mx-auto px-4 py-6 flex items-center">
        <button id="menu-btn" class="text-white text-2xl">&#9776;</button>
        <h1 class="flex-1 text-center text-xl font-bold tracking-widest lowercase">Electro<span
                class="text-orange-500">gee</span></h1>
        <img src="assets/icon-cart.svg" alt="Cart" class="h-6 filter invert cursor-pointer" />
    </div>

    <!-- Desktop Header -->
    <div class="hidden md:flex max-w-7xl mx-auto px-4 py-6 justify-between items-center">
        <h1 class="text-xl font-bold tracking-widest lowercase">Electro<span class="text-orange-500">gee</span></h1>
        <nav class="flex gap-6 uppercase text-sm tracking-widest">
            <a href="index.html" class="hover:text-orange-400 py-2">Home</a>
            <a href="category.html?category=headphones" class="hover:text-orange-400 py-2">Headphones</a>
            <a href="category.html?category=speakers" class="hover:text-orange-400 py-2">Speakers</a>
            <a href="category.html?category=earphones" class="hover:text-orange-400 py-2">Earphones</a>

        </nav>
        <img src="assets/icon-cart.svg" alt="Cart" class="h-6 filter invert cursor-pointer" />
    </div>

    <!-- Mobile Nav -->
    <nav id="mobile-nav"
        class="hidden bg-black text-white px-6 py-4 space-y-4 shadow-md rounded-b-lg transition-all duration-300 ease-in-out">
        <a href="index.html" class="block hover:text-orange-400 uppercase text-sm">Home</a>
        <a href="category.html?category=headphones" class="block hover:text-orange-400 uppercase text-sm">Headphones</a>
        <a href="category.html?category=speakers" class="block hover:text-orange-400 uppercase text-sm">Speakers</a>
        <a href="category.html?category=earphones" class="block hover:text-orange-400 uppercase text-sm">Earphones</a>
    </nav>
</header>




  